.vscode
.hydra
*egg-info
*.pyc
*.log
*.png
__pycache__
.*

experiments
data/d_*
data/wds*
data/finetune
data/converted_real
data/finetune
data/evaluation
runs
ckpts
outputs
wandb
tests
sauron
logs
dice.sh
venv*
